
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

a{
    border:1px solid #000;
    width:100px;
    text-decoration:none;
    color: black;
    display:inline-block;
    text-align:center;
}
a:hover{
    background: rgb(113, 215, 255);
}

body {
    background-color: #aaf;
}

#title1 {
    color: #fff;
    border: 1px solid #000;
    font-family: Raleway;
}

.box {
    border: 1px solid #000;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.box:hover {
    background: #000;
}

p {
    font-family: 'Nanum Pen Script', cursive;
}

.mybgorange {
    background: #f90;
}

.mybgyellow {
    background: yellow;
}