body{
    margin : 0;
}

#title{
    text-align: center;
}
img{
    width:500px;
    height:500px;
}
#main{
    width: 500px;
    min-height: 200px;
    border: 1px solid #ddd;
    margin: auto;
    text-align: center;
    padding: 5px;
}
#nav{
    text-align: center;
}
#nav div{
    display:inline-block;
    padding: 5px;
    border: 1px solid #ddd;
    margin: 15px;
    cursor: pointer;
}